{% load static %} {% if user.is_authenticated %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Israel Cruz Morales, Alejandro Cauich Ku" />
    <title>Volunteer Trackers Profile</title>
  </head>

  <body class="has-background-white-ter">
    <!-- Navbar -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/myprofileVolun">
          <h1 class="pl-1"><strong>Volunteer Trackers</strong></h1>
        </a>

        <a class="navbar-item" href="/volunteerProfile">
            <h1 class="pl-1"><strong>{{ user.username}}</strong></h1>
          </a>
          <a class="navbar-item" href="/volunteerProfile">
            <h1 class="pl-1"><strong>{{ user.username}}</strong></h1>
          </a>

        
    </nav>

    <!-- Navbar menus -->
   
    </div>

    <div class="content-section">
      <div class="media-body">
        <h1>{{ user.username}}</h1>
        <p class="text-secondary">{{ user.email }}</p>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/modal.js' %}"></script>
  <script src="{% static 'js/checkmaster.js' %}"></script>
  </body>
</html>
{% else %}
<meta http-equiv="REFRESH" content="0;URL=../login" />
{% endif %}
